body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(120deg,#0A0908,#22333B );
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


.dot {
    width: 20px;
    height: 20px;
    background-color: #C6AC8F;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}





